.container {
    width: 940px;
    margin: auto;
}

.header {
    margin: 30px auto;
}

.header:hover {
    cursor: pointer;
}

.header_title {
    margin-bottom: 0.25px !important;
}

.header_title_2 {
    color: red;
}