.container {
    width: 940px;
    margin: auto;
}

.code_name_blocks_wrapper {
    margin-top: 30px;
}

.name_block {
    margin: 15px auto;
}

.name_block:hover {
    cursor: pointer;
}

.name {
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
}