:root {
    --line-1: #B1B1B1;
    --line-2: #F3AA86;
    --line-3: #EDEDF5;
    --line-4: #DEDEEE;
    --line-5: #BAE2BB;
    --line-6: #D0ECCD;
    --line-7: #BAB5D8;
    --line-8: #E3EDF7;
    --line-9: #B5D7EB;
    --line-10: #98D1AA;
    --line-11: #98C1DE;
    --line-12: #E3F4E0;
}